.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
    body{
      height: 100vh;
      background-color: hsl(212, 45%, 89%);
      align-items: center;
      display: flex; 
      flex-direction: column;
      justify-content: center;
    }
    .container{
      width: 90%;
      height: 90%;
      background-color: hsl(212, 45%, 89%);
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      
    }
    .qrcontainer{
      height: 58%;
      width: 21%;
      background-color: white;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      font-family: "Outfit", sans-serif;
      filter: drop-shadow(1px 1px 20px yellow);
    }
    .qrimg{
      height: 60%;
      border-radius: 10px;
      margin: 5%;
    }
    .textcontainer{
      margin: 6%;
    }
    .improve{
      font-weight: bold;
      color: hsl(218, 44%, 22%);
    }
    .scan{
      font-weight: 400;
      font-size: 15px;
      color: hsl(216, 15%, 48%);
    }
    @media (max-width: 375px) {
      .container{
        height: 80%;
      }
    .qrcontainer {
      width: 75%;
      height: 60%;
      padding: 10px;
    }
    .qrimg{
        height: 45%;
        margin: 3%;
      }
}